html, body {
	margin: 0;
	padding: 0;
	height: 100%;
}
fieldset {
	border:none;
}


#map-canvas {
	/*margin: 20px auto;*/
	width: 70%;
	height:100%;
	float:left;
}
#right-rail {
	padding: 15px;
	width:28%;
	height:100%;
	float:right;
}
#search-bar {
	position:absolute;
	top:25px;
	left:90px;
	width:1000px;
	/*height:100px;*/
	background-color: #fff;

    background-color: #F7F7F9;
    border: 1px solid #E1E1E8;
    border-radius: 4px 4px 4px 4px;
    margin-bottom: 14px;
    padding: 9px 14px;


}
#search-bar ul {
	list-style: none;
	margin:0;
}

#search-bar li {
	list-style-image: none;
	display:inline;
	width:50px;
	margin:0;
	padding:0;
}


#search-bar input {
	text-align: center;
}

#logo {
    
}

.tinquietes {
}

#checkman {
    margin-left: 550px;
}