html, body {
	margin: 0;
	padding: 0;
	height: 100%;
}
fieldset {
	border:none;
}


#map-canvas {
	/*margin: 20px auto;*/
	width: 70%;
	height:100%;
	float:left;
}
#right-rail {
	padding: 15px;
	width:30%;
	height:100%;
	float:right;
	background-color: #F9F9F9;
overflow: scroll;

border-left: 5px ridge green;

}
#search-bar {
	position:absolute;
	top:25px;
	left:90px;
	width:1000px;
	/*height:100px;*/
	background-color: #fff;

    background-color: #F7F7F9;
    border: 1px solid #E1E1E8;
    border-radius: 4px 4px 4px 4px;
    margin-bottom: 14px;
    padding: 9px 14px;


}
#search-bar ul {
	list-style: none;
	margin:0;
}

#search-bar li {
	list-style-image: none;
	display:inline;
	width:50px;
	margin:0;
	padding:0;
}


#search-bar input {
	text-align: center;
}

#logo {
    
}

.tinquietes {
}

#checkman {
    margin-left: 550px;
}

.restaurants {

}

h1, h2 {
    font-family: Interstate,Helvetica,Arial,sans-serif !important;
    margin-bottom: 10px !important;
}

p {
    font-size: 14px;
    line-height: 20px;
}

.todo img {
    border: solid 1px;
    margin-bottom: 10px;
}

.restaurants h1 {
    font-size: 32px;
    margin: 0;
    color: #000000;
    letter-spacing: -2px;
}

.restaurants h2 {
    font-size: 20px;
    margin: 0;
    color: #000000;
}

.todo {

}

.todo h1 {
    font-size: 32px;
    margin: 0;
    color: #000000;
    letter-spacing: -2px;
}

.todo h2 {
    font-size: 20px;
    margin: 0;
    color: #000000;

}