html, body {
	margin: 0;
	padding: 0;
	height: 100%;
}
fieldset {
	border:none;
}


#map-canvas {
	/*margin: 20px auto;*/
	width: 80%;
	height:100%;
	float:left;
}
#right-rail {
	width:19%;
	height:100%;
	float:right;
}
#search-bar {
	position:absolute;
	top:20px;
	left:180px;
	width:1000px;
	/*height:100px;*/
	background-color: #fff;
}
#search-bar ul {
	list-style: none;
	margin:0;
}

#search-bar li {
	list-style-image: none;
	display:inline;
	width:50px;
	margin:0;
	padding:0;

}